<h1><%= t('Editing.Especialidade') %></h1>

<%= render 'form', especialidade: @especialidade %>

<%= link_to 'Show', @especialidade,  class: "btn btn-primary" %> 
<%= link_to 'Back', especialidades_path,  class: "btn btn-primary" %>
