<ul><strong><p>Construção</p></strong></ul>

<ul>
    <li>
        <%= link_to "Cavaleiros de ouro", cdzs_path %>
    </li>
        <li>
        <%= link_to "Cadastrar tipos de especialidadades", especialidades_path %>
    </li>
</ul>