<div class="jumbotron">
 <strong> <h1 class="display-4"><%= t('cdz') %></h1>
 <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu') %></p></strong> 

  
  <%= render "menu" %>
</div>




